<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-CN"> 
	<meta http-equiv="content-Type"content="text/html;charset=utf-8"> 
	<head>
			<title>Changer's Blog</title>
			<link href="style/blog.css" rel="stylesheet" type="text/css" />   
			<script type="text/javascript" src="js/jquery-3.1.1.js"> </script>
			<script type="text/javascript" src="js/velocity.js"> </script>
	</head>
	<body>
			<div class="container">
				<div class="header">
					<div id="header-outer" class="outer">
   					<div id="header-inner">
						<a id="main-nav-toggle" class="nav-icon"></a>
      					<a id="logo" class="logo" href="#"></a>
						<nav id="main-nav">
				          <a class="main-nav-link" href="#">Home</a>
				          <a class="main-nav-link" href="#">Archives</a>
				          <a class="main-nav-link" href="#">Projects</a>
				          <a class="main-nav-link" href="#">About</a>
				          <a class="main-nav-link" href="#">Categories</a>
				          <a class="main-nav-link" href="#">Blogrolls</a>
				          <a class="main-nav-link" href="#">RSS</a>
				    	</nav>
					</div>
					</div>
				</div>
				<div class="main" style="min-height:0;height:auto;">
					<div class="document">
						<div class="nav-caption-block">
							<a href="javascript:void(0)">首页</a><i class="fa fa-angle-right"></i>
							<a href="javascript:void(0)">随笔</a><i class="fa fa-angle-right"></i>
							<a href="javascript:void(0)">钢铁是怎样炼成的</a>
						</div>
					</div>
				</div>
				<div class="footer">
					<a href="javascript:void(0)" class="footer-text">Copyright@2016-2017</a>
					<a href="javascript:void(0)" class="footer-text">Changer's Blog</a>
					<a href="javascript:void(0)" class="footer-text">dingjinchengyx@163.com</a>
					<a href="javascript:void(0)" class="footer-text">HangZhou</a>
				</div>
			</div>
	</body>
</html>
