html,body
{
	margin:0;
	padding:0;
}
body 
{
	font: 16px 'PT Serif', 'STZhongsong', '华文中宋', 'Microsoft Yahei', serif;
	background-image:url("../img/bg.png");
}
a
{
	text-decoration: none;
}
img
{
	border: none;
}
@font-face
{
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src:	url("fonts/fontawesome-webfont.eot?v=#4.0.3");
  src: 	url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), 
		url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), 
		url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), 
		url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-angle-right:before {
  content: "\f101";
  color:rgb(128,128,128);
  font-size:16px;
}
.fa-angle-left:before {
	content:"\f100";
	color:rgb(128,128,128);
	font-size:16px;
}
.container 
{
	margin-left:auto;
	margin-right:auto;
	width:1024px;
	height:100%;
	position: relative;
}
.invisiable
{
	visibility:hidden;
}
.logo {
  width: 94px;
  height: 57px;
  background-image: url("../img/logo.png");
  -webkit-background-size: 74px 28px;
  -moz-background-size: 74px 28px;
  background-size: 74px 28px;
  background-position: left center;
  background-repeat: no-repeat;
  margin-left:auto;
  padding:0 16px;
}
#logo {
  float: left;
}
.header {
	font-size: 14px;
	margin-top: 10px;
	position: relative;
	background: #e0aa11;
	-webkit-box-shadow: 0 5px 10px #bdc5c4;
	box-shadow: 0 5px 10px #bdc5c4;
}
#header-outer {
  height: 100%;
  position: relative;
  text-align:center;
}
#header-inner {
  position: relative;
  overflow: hidden;
  display:inline-block;
}
.outer {
  max-width: 920px;
  margin: 0 auto;
}
#main-nav {
  float: left;
  margin-left: -15px;
  margin-right:auto;
}
.main-nav-link
{
  float: left;
  color: #000;
  text-decoration: none;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  display: block;
  padding: 20px 15px;
  font-weight: 600;
  color: #666;
  font-size: 16px;
  padding: 20px 18px;
}
.main {
	position:relative;
	top:20px;
	background-image:-webkit-linear-gradient(#F0F0F0,#EEEEEE);
	width:100%;
	height:auto;
	min-height:900px;
	overflow:hidden;
	/*height:800px;*/
	-webkit-border-radius:10px;
	-webkit-box-shadow: 0 5px 10px #bdc5c4;

}
.nav-caption {
	margin:20px 20px 0 20px;
	height:auto;
	background-color:#ffffff;
}
.nav-caption-block {
	list-style-type:none;
	margin:0 1em;
	padding:0.4em 0;
}
.nav-caption-block a {
	display:inline;
	margin:0 1em;
	font:normal 16px Helvetica,'华文中宋', 'Microsoft Yahei', serif;
	color:rgb(128,128,128);
}
.main .content {
	margin-left:20px;
	margin-bottom:20px;
	float:left;
	clear:left;
	width:74%;
}
.main .document {
	margin:20px;
	background:#ffffff;
}
.summary {
	margin-top:20px;
	background-color:#ffffff;
	width:100%;
	height:200px;
	-webkit-border-radius:5px;
}
.history {
	float:right;
	clear:right;
	margin-right:20px;
	width:20%;
	margin-top:20px;
	background-color:#ffffff;
	min-height:1300px;
	-webkit-border-radius:5px;
}
.footer {
	position:relative;
	top:20px;
	text-align:center;
	border-top:1px solid rgb(122,122,122);
	margin-top:20px;
}
.footer-text {
	text-decoration:none;
	margin: 10px 20px;
	font-size:14px;
	font-style:italic;
	color:#333333;
}
.summary-head {
	position:relative;
	margin: 0 5%;
	height:20%;
	border-bottom:1px solid rgb(220,220,220);
	padding-top:1px;
	padding-bottom:1px;
}

.summary-head a {
	/*margin-top:10px;*/
	position:absolute;
	bottom:0px;
	height:80%;
	color:#222222;
	font:normal 16px/1.5em Helvetica,'华文中宋', 'Microsoft Yahei', serif;
}
.summary-content {
	height:57%;
	margin:0 5%;
	margin-bottom:1em;
	overflow-y:hidden;
}
.summary-content p {
	font:normal 14px Verdana,Arial,Helvetica,sans-serif;
	color:#666666;
	text-indent:2em;
}
.summary-footer {
	position:relative;
	border-top:1px solid rgb(220,220,220);
	margin:0 5%;
	text-align:right;
}
.summary-footer a {
	margin:0 1.2em;
	font-size:12px;
}
.label_normal {
	color:#888888;
}
.label_green {
	color:#2ed62e;
}
.label_blue {
	color:#0a0ace;
}
.history div {
	margin:0 20px;
	overflow:hidden;
}
.history-title {
	font:italic 16px/2.3em Verdana,Arial,Helvetica,sans-serif;
	color:#010101;
	margin:5px;
	border-bottom:1px solid rgb(220,220,220);
	display:block;
}
.history-content{
	font:normal 14px Verdana,Arial;
	color:#399ab2;
	margin-top:0.5em;
	display:block;
}
.history-sign {
	font:normal 11px Verdana,Arial;
	color:rgb(200,200,200);
	margin:15px 20px;
}
.rotate {
	clear:both;
	margin:20px;
	height:auto;
	font:normal 16px Helvetica,'华文中宋', 'Microsoft Yahei', serif;
	color:rgb(128,128,128);
	text-align:center;
}
.rotate a {
	color:inherit;
}
.rotate .rotate-up {
	float:left;
}
.rotate .rotate-down {
	float:right;
}
.rotate > span a {
	margin:2em;
}
#markdown {
	margin:0 20px;
	background:#ffffff;
	border-top: 1px solid rgb(129,129,129);
}
.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
	min-height:600px;
    margin: 0 auto;
	padding:15px
}
